body {
  animation-name: color-change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes color-change {
  0% {
    background-color: red;
  }
  22% {
    background-color: yellow;
  }
  44% {
    background-color: rgb(64, 64, 165);
  }
  66% {
    background-color: rgb(36, 172, 36);
  }
  88% {
    background-color: orange;
  }
  100% {
    background-color: red;
  }
}
.myHeader {
  width: 50%;
  text-align: center;
  margin-top: 10px;
  margin-left: 300px;
  padding: 5px;
}
.animation {
  position: relative;
  height: 150px;
  width: 200px;
  margin: 0, auto;
  animation: rotation 2s infinite linear;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes rotation {
  33% {
    transform: rotate(35deg);
  }
  66% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.display {
  text-align: center;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  height: 13%;
  text-align: center;
  background-color: cornflowerblue;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px, 5px, red;
  height: 50vh;
  width: 40vh;
  margin-top: -65px;
  margin-left: 533px;
}
